.clothing-item{
   text-align: left;
   padding: 4% 5% 0;
   box-sizing: border-box;
}
.clothing-wrapper{
   margin-top: 20px;
}
.card-wrapper{
   display: flex;
   flex-wrap: wrap;
   justify-content:center;
   padding: 10px 8%;
   box-sizing:border-box;
}